:root {
    --color-green:#07a01e;
    --color-red:#EA0000;
    --color-white:#fff;
    --color-shadow:#947575;
}

.cart {
    width: 100vw;
    min-height: 86vh;
    padding: 0 2rem;
}

/* ----------cartHeader--------- */
.cartHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartHeader img {
    width: 26px;
}

/* ------cards------ */
.cards {
    width: 100%;
    height: 50vh;
    box-shadow: 0px 0px 12px  var(--color-shadow) inset;
    border-radius: 6px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fields {
    width: 100%;
    padding: .5rem;
}

/* -------field1-------- */
/* -------field2-------- */
.field1,.field2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;
    border-bottom: 1px solid var(--color-shadow);
}

.field1 span {
    font-size: 1.2rem;
}

.field2 span {
    font-size: 1.2rem;
    color: var(--color-green);
}

/* --------field3------- */
.field3 {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.field3 button {
    width: 200px;
    border: none;
    padding: .4rem;
    border-radius: 6px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: 1.4rem;
}
